body {
	background-color:#ccc;
	font-family:sans-serif;
	color:#fff;
}


p {
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}

.tweet_pic img {
	width:100px;
	height:100px;
	padding:10px;
}

h1 {
	margin:0;
	font-size:4em;
}

.top_div {
	margin:10px;
}

.title_holder {
	text-align:center;
}

.image_holder {
	text-align:center;
	margin-top:-30px;

}

.divider {
	height:1px;
	background-color: #CCC;
}

.tweet_board {
	margin-top: 10px;
	margin-right:20px;
}

/* Tweet Styling */

.tweet_pic, .tweet_content, .tweet_controls{
	display:inline-block;
	overflow:visible;
}

.tweet_pic p {
	display:inline-block;
}

.tweet_pic {
        vertical-align: top;
}

.tweet_content {
	width: 800px;
        margin-bottom:0px;
	margin-left:20px;
        padding-bottom:10px; 
}

.tweet_content img {
	max-width:800px;
	min-width:700px;
}

.username{
	font-size:1.3em;
	padding:0px;
	margin:0px;
}

.handle {
	font-size:1.3em;
}

p.handle {
	margin:0px;
}

.tweet {
	margin-top:30px;
}

.tweet_body p{
	padding-bottom:30px;
	margin-left:130px;
	font-size:1.3em;
}

.tweet_text {
	font-size:1.5em;
	margin:0;
	padding-right:5px;
}

.tweet_controls {
        vertical-align: middle;
}
