@font-face {
  	font-family: 'BebasNeue';
  	src:  url('fonts/BebasNeue.otf') format('opentype');

}

body{
	background-color:#fff;
	font-family:sans-serif;
	color:#fff;
	margin:0;
}


p {
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}

.tweet_pic img {
	width:100px;
	height:100px;
	padding:10px;
}

h1 {
	margin:0;
	padding-top:50px;
	font-size:4em;
	font-family: 'BebasNeue', sans-serif;
	font-weight:300;
}

.top_div {
	margin:0px;
	height:200px;
        color:#005596;
}

.title_holder {
	text-align:center;

}

.title_holder img {
	width:1000px;
}

.image_holder {
	text-align:center;
	margin:-50px;
        margin-top:10px;
}

#hashtag {
        max-width:200px;
        display:inline-block;
        margin-bottom:10px;
}

img#massadvocates {
        height:100px;
	width:500px;
	margin-top:-20px;
	display:inline-block;
	padding:0;
        vertical-align:middle;
        margin-left:10px;
}

img#metter {
	height:100px;
        width:130px;
	margin-top:-20px;
        display:inline-block;
	vertical-align:middle;
        margin-left:50px;
        margin-right:50px;
	padding:0;
}


.divider {
	height:1px;
	background-color: #CCC;
}

.tweet_board {
	margin-top:10px;
	margin-right:20px;
        margin-left:10px;
}

/* Tweet Styling */

.tweet_pic, .tweet_content{
	display:inline-block;
	overflow:visible;
}

.tweet_pic p {
	display:inline-block;
}

.tweet_pic {
        vertical-align: top;
}

.tweet_content {
	margin-bottom:0px;
}

.tweet_content img {
	max-width:800px;
	min-width:700px;
}

.username{
	font-size:1.3em;
	padding:0px;
	margin:0px;
}

.handle {
	font-size:1.3em;
}

p.handle {
	margin:0px;
}

.tweet {
	margin-top:30px;
        border: 1px solid #bababa;
}

.tweet_body p{
	padding-bottom:30px;
	margin-left:130px;
	font-size:1.3em;
}

.tweet_text {
	font-size:1.5em;
	margin:0;
	padding-right:5px;
}

/*Red*/
.zero_box_red {
        background-color: #fff;
        color:#000;
        box-shadow: 10px 10px 0px 0px #bababa;
}

.title_holder img{
        text-align: center;
        width: 450px;
        margin-top: 20px;
}
