<!Doctype html>
<html>
<head>
<title>Metterboard Display</title>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" 
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='metterboard.css') }}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='tweet.tpl.js') }}"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('tweetstream', function(msg) {
    var data = JSON.parse(msg);
    var context = {'profile_image': data['profile_image_url'], 'screen_name': data['screen_name'], 'user': data['user'], 'text': data['text'], 'id': data['id']};
    var html = Handlebars.templates.tweet(context);
    console.log('tweet by ' + data['screen_name']);
    $('.tweet_board').prepend(html);
  });
  socket.on('delete_tweet_from_display', function(msg) {
    $('.tweet#' + msg.id).remove();
  });
  socket.emit('connection', {'client':'tweetstream'});
</script>
</head>
<body>
  <div class="top_div">
    <div class="title_holder">
      <h1>#CIVICTECHBOS</h1>
      <div class="image_holder">
        <img id="microsoft" src="{{ url_for('static', filename='img/microsoft.svg') }}">
        <img id="metter" src="{{ url_for('static', filename='img/metter_media.svg') }}">
      </div>
    </div>
  </div>
  <div class="tweet_board">
  </div>
</body>
</html>
