<!Doctype html>
<html>
<head>
<title></title>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://localhost:' + location.port);
  socket.on('tweetstream', function(msg) {
    console.log(msg);
    msg=JSON.parse(msg);
    $('.tweet_board').prepend('<p><image src="' + msg["profile_image_url"] + '"><b>' + msg["screen_name"] + '</b>' + msg["user"] + '</p>' + msg["text"]);
  });
</script>
</head>
<body>
<div class="top_div">
  <h1> Awesome Event Time! </h1>
</div>
<div class="tweet_board">
{% for tweet in tweets %}
<p>
  <image src={{ tweet.profile_image_url }}>
  <b>{{ tweet.screen_name }}</b>
  {{ tweet.user }}
</p>
  {{ tweet.text }}
{% endfor %}
</div>
</body>
</html>
